
{% load static %}

<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    </head>

    <body class="flex flex-col min-h-screen">
        <div class="p-2">
            <nav class="p-6 bg-rose-600 text-white flex justify-between items-center rounded-xl">
                <a href="{% url 'core:index' %}" class="text-xl">PARAMARSH - Facilitating Your Growth </a>

                <div class="flex items-center space-x-4">
                    <a href="{% url 'core:index' %}">Home</a>
                    <a href="{% url 'core:about' %}">About</a>

                    <a href="{% url 'account:login' %}" class="inline-block py-4 px-6 bg-rose-800 text-white rounded-xl">Admin Login</a>

                </div>
            </nav>

            <main class="flex-1 max-w-6xl mx-auto p-6">
                {% if messages %}
                    <div class="message mb-6 p-6 bg-gray-800 text-white rounded-xl">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </main>
        </div>
        
        <footer class="w-full fixed bottom-0 left-0 py-6 px-6 bg-gray-800 text-white text-center text-s">
            <div class="container mx-auto flex justify-center items-center space-x-2">
                <span>Copyright &copy; 2024 - PARAMARSH by ABHISHEK VERMA - </span>
                <span>Connect at:</span>
                <a href="https://www.linkedin.com/in/abhishekverma0313/" target="_blank" class="flex items-center bg-blue-700 text-white font-semibold py-1 px-2 rounded hover:bg-blue-800">
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M22.23 0H1.77C.8 0 0 .77 0 1.75v20.5C0 23.23.8 24 1.77 24h20.46c.97 0 1.77-.77 1.77-1.75V1.75C24 .77 23.2 0 22.23 0zM7.12 20.45H3.56V9h3.56v11.45zM5.34 7.63c-1.15 0-2.08-.94-2.08-2.08S4.2 3.47 5.34 3.47 7.42 4.4 7.42 5.55c0 1.14-.93 2.08-2.08 2.08zM20.45 20.45h-3.56v-5.6c0-1.33-.03-3.03-1.85-3.03-1.85 0-2.13 1.45-2.13 2.93v5.7h-3.56V9h3.42v1.56h.05c.48-.9 1.64-1.85 3.37-1.85 3.6 0 4.27 2.37 4.27 5.45v6.28z"/>
                    </svg>
                </a>
            </div>
        </footer>

        {% block scripts %}
        {% endblock %}

    </body>
</html>