{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 py-12 px-8 grid grid-cols-5 gap-4 items-center border border-rose-200 rounded-xl">
        <div class="col-span-2">
            <img class="rounded-xl" src="{% static 'images/banner1.jpg' %}" >
        </div>

        <div class="col-span-3">
            <h1 class="font-bold mb-8 text-3xl">Welcome to Paramarsh</h1>

            <h2 class="text-lg text-gray-500">A chat website connecting students with mentors for real-time academic and personal guidance under the Student Mentorship Program. </h2>
            <br><br>
            <h2 class="text-lg text-black-500"> To Connect with a Mentor click on the chat Icon Below!</h2>
        </div>
    </div>

  
    {% include 'chat/partials/chat_bubble.html' %}
{% endblock %}

{% block scripts %}
     <script src="{% static 'js/main.js' %}"></script>
{% endblock %}